*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Poppins", helvetica, Arial, sans-serif;
  font-weight: normal;
}

body {
  margin: 0 auto;
  background-color: #eee;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
  min-height: 50vh;
}

.item {
  place-self: stretch;
  cursor: pointer;
  font-size: 2rem;
  border: solid 3px white;
  outline: none;
  background-color: rgba(255,255,255,0.75);
  /* margin: 3px; */
}

.item:hover {
  background-color: rgba(255,255,255,0.1);
}

.span-two {
  grid-column: span 2;
}
#clear {
  color: tomato;
}
#equals {
  grid-row: span 2;
  color: tomato
}

#display {
  align-self: end;
  grid-column:1 / -1;
  background-color: rgba(255,255,255,0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.whole-formula {
  min-height: 40px;
  color: rgba(0,0,0,0.75);
  position: relative;
}
#display:after{
  content: "";
  position: relative;
  display: flex;
  align-self: end;
  bottom: -20px;
  width: 90%;
  left: 0px;
  height: 0.5em;
  border-top: 3px solid tomato;
  
}

.current-number{
  min-height: 60px;
  color: black;
  font-size: 2.5rem;
}


#history {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 80vh;
}
.history-item {
  cursor: pointer;
  font-size: 1.5rem;
}
.history-item:after{
  content: "";
  position: relative;
  display: flex;
  bottom: -10px;
  /* left: 0px; */
  height: 0.5em;
  border-top: 3px solid black;
}
.history-item:hover {
  background-color: rgba(255,255,255);
}

@media screen and (max-width: 749px) {
  .container {
    flex-direction: column;
  }
}